{% extends 'admin_template/admin_dashboard.html' %}

{% block title %}
<title>Crowd Funding Admin | Manage Testimonial </title>
{% endblock %}


{% block meta_tag %}
<meta name="description" content="" />
<meta property="og:title" content="" />
<meta property="og:url" content="web page path" />
<meta property="og:description" content="">
<meta property="og:image" content="image PATH">
{% endblock %}

{% block extra_style %}
{% endblock %}


{% block body %}
<main>
    <div class="container">
      <div class="row mt-3 mb-3 align-items-center">
        <div class="col-md-6">
            <h4 class="mb-0">Manage Testimonial</h4>
        </div>  
        <div class="col-md-6 text-right">
          <button type="button" class="custom_btn" data-toggle="modal" data-target="#create_crowdNewsing">Create Testimonial</button>
        </div>                  
      </div>
      <div class="table_parent">
        <table class="table text-center   data_table">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th scope="col">Name</th>
                <th scope="col">Designation​</th>
                <th scope="col">Profile</th>
                <th scope="col">About Testimonial​</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for CrowdNewsing in instance_CrowdNewsing %}
                <tr>
                  <td>{{CrowdNewsing.id}}</td>
                  <td>{{ CrowdNewsing.name }}</td>
                  <td>{{ CrowdNewsing.designation }}</td>
                  <td><a class="color_blue" href="javascript:void(0);" NAME="My Window Name"  title=" My title here " onClick=window.open("/media/{{ CrowdNewsing.profile}}","Ratting","width=550,height=500,0,left=50%,top=50%,toolbar=0,status=0,");>Attachments</a></td>
                  <td>
                    <div class="text_ecllipse reaon_req"  data-toggle="modal" data-target="#textDisplay"><i class="fa fa-eye cursor_pointer" aria-hidden="true"></i>
                    <div class=" reaon_req_text d-none">{% autoescape off %}{{ CrowdNewsing.about_crowd_newsing|linebreaks }}{% endautoescape %}</div></div>
                  </td>
                  <td>
                    <a href="{% url 'admin_manage_crowd_newsing_edit' CrowdNewsing.id %}"><i class="fa fa-edit warning" aria-hidden="true"></i></a>
                    <a href="{% url 'admin_manage_crowd_newsing_delete' CrowdNewsing.id %}"><i class="fa fa-trash danger" aria-hidden="true"></i></a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
</main>
{% endblock %}

{% block model_popup %}
<div id="textDisplay" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100">About</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="reason_txt"></p>
        </div>
      </div>
  
    </div>
  </div>




  <div class="modal fade" id="create_crowdNewsing" tabindex="-1" role="dialog" aria-labelledby="create_crowdNewsingTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="exampleModalScrollableTitle"> Create Testimonial </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form method="POST" enctype="multipart/form-data" class="jss349">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Profile Image</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    <input type="file" name="profile" onchange="Validateimgupload(this);" id="id_resume" class="inputfile inputfile-1"  required="required">
                    <label id="lblfile-1" for="id_resume"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Profile Image</span></label>
                  </span>
                </span>
              </div>
              <span class="error" id="img_val">{{CrowdNewsing_Form.errors.profile}}</span>
            </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Name</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                {{CrowdNewsing_Form.name}}
              </div>
              <span class="error">{{CrowdNewsing_Form.errors.name}}</span>
            </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Designation​</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                  {{CrowdNewsing_Form.designation}}
              </div>
            </div>
            <span class="error">{{CrowdNewsing_Form.errors.designation}}</span>
          </div>
          
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">About Testimonial </p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                  {{CrowdNewsing_Form.about_crowd_newsing}}
              </div>
            </div>
            <span class="error">{{CrowdNewsing_Form.errors.about_crowd_newsing}}</span>
          </div>

          <button class="jss610 jss584 jss595 jss596 jss598 jss599 jss609 jss350" tabindex="0" id="login_btn"
            type="submit"><span class="jss585">Submit</span><span class="jss636"></span></button>
        </form>
      </div>
    </div>
  </div>
</div>
  {% endblock %}


{% block extra_script %}
<script type="text/javascript">
	$(".reaon_req").click(function(){
		$("#reason_txt").html($(this).find(".reaon_req_text").html());
	});
</script>


{% if form_error %}
<script>
  $("#create_crowdNewsing").modal('show');
</script>
{% endif %}
{% endblock %}