{% extends 'admin_template/admin_dashboard.html' %}

{% block title %}
<title>Crowd Funding Admin | Modify Category </title>
{% endblock %}


{% block meta_tag %}
<meta name="description" content="" />
<meta property="og:title" content="" />
<meta property="og:url" content="web page path" />
<meta property="og:description" content="">
<meta property="og:image" content="image PATH">
{% endblock %}

{% block extra_style %}
{% endblock %}


{% block body %}
<main class="jss346 js800_c">
    <div style="display: block;">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <h4 class="mb-0">Modify Category​</h4>
            </div>
        </div>
        <div class="jss476 jss480 jss477 jss347 mt-4">

            <form class="jss349 row" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-12 col-md-12">
                    <div class="jss550 jss551 jss553">
                        <p class="jss515 jss524">Category​</p>
                        <div class="jss550">
                            <div class="jss567 jss554 jss558 jss568 jss555">
                                {{Campaign_Category_Form.category}}
                            </div>
                            <span class="error">{{Campaign_Category_Form.errors.category}}</span>
                        </div>
                    </div>
                </div>

                <button class="jss610 jss584 jss595 jss596 jss598 jss599 jss609 jss350" id="authorize_campaign" type="submit"><span class="jss585"> Authorize Campaign ​</span><span class="jss636"></span></button>

            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_script %}
{% endblock %}