<table class="table text-center  data_table" id="contributor_table">
    <thead class="thead-light">
      <tr>
        {% if 'Campaign' in Column %}
        <th scope="col">Campaign</th>
        {% endif %}
        {% if 'Date' in Column %}
        <th scope="col">Date</th>
        {% endif %}
        {% if 'Time' in Column %}
        <th scope="col">Time</th>
        {% endif %}
        {% if 'Name' in Column %}
        <th scope="col">Name</th>
        {% endif %}
        {% if 'Email' in Column %}
        <th scope="col">Email</th>
        {% endif %}
        {% if 'Phone' in Column %}
        <th scope="col">Phone</th>
        {% endif %}
        {% if 'Amount' in Column %}
        <th scope="col">Amount</th>
        {% endif %}
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      {% for CampaignDoners in instance_CampaignDoners %}
      <tr>
        {% if 'Campaign' in Column %}
        <td>{{CampaignDoners.campaign_fund_raiser}}</td>
        {% endif %}
        {% if 'Date' in Column %}
        <td>{{CampaignDoners.created_at|date:'Y-m-d'}}</td>
        {% endif %}
        {% if 'Time' in Column %}
        <td>{{CampaignDoners.created_at|date:'H:i'}}</td>
        {% endif %}
        {% if 'Name' in Column %}
        <td>{{CampaignDoners.name}}</td>
        {% endif %}
        {% if 'Email' in Column %}
        <td>{{CampaignDoners.email}}</td>
        {% endif %}
        {% if 'Phone' in Column %}
        <td>{{CampaignDoners.phone}}</td>
        {% endif %}
        {% if 'Amount' in Column %}
        <td>{{CampaignDoners.amount}}</td>
        {% endif %}
        <td>{{CampaignDoners.refund_status|title}}</td>
        <td>
          {% if CampaignDoners.refund_status == 'request refund' %}
            <a href="{% url 'admin_manage_refund_status' CampaignDoners.id 'refund approved' %}"><i class="fa fa-check sucess" aria-hidden="true"></i></a>

            <a href="{% url 'admin_manage_refund_status' CampaignDoners.id 'refund decline'  %}"><i class="fa fa-times-circle-o warning" aria-hidden="true"></i></a>
          {% else %}
          ----
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>