
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 11%;
    left: 0;
    height: 100vh;
    z-index: 99;
    background: #0E678E;
    color: #fff;
    transition: all 0.3s;
}
#sidebar li {
    cursor: pointer;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    padding: 10px 15px;
    font-size: 14px;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #fff;
     background: rgba(0, 0, 0, 0.08);
}


/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgb(0, 69, 99);
} */

.submenu.open_submenu {
    background: rgb(0, 69, 99);
}

li.active {
    background:  rgb(0, 69, 99);
}

.submenu li.active {
    background: #0E678E !important;
}


.side-nav_dropdown.active .dropdown-toggle , .side-nav_dropdown.show .dropdown-toggle {
    background: rgb(0, 69, 99) !important;
}

.side_navbar_dropdown_menu.show .active {
    background: rgb(14, 103, 142);
}

a[data-toggle="collapse"] {
    position: relative;
}

.submenu a[aria-expanded="true"] , .submenu a[aria-expanded="true"] + ul li {
    background: rgb(0, 69, 99);
}

.submenu ul li {
    margin-bottom: 0px !important;
}
/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */


 /* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
} */

.dropdown-toggle[aria-expanded="true"]::after {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    background: url(../images/submenu_arrow.png);
    width: 20px;
    height: 20px;
    border: 0 !important;
}

.dropdown-toggle[aria-expanded="false"]::after{
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    background: url(../images/submenu_arrow.png);
    width: 20px;
    height: 20px;
    border: 0 !important;
    transform: rotate(180deg);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: rgb(0, 69, 99); */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #EC156E;
}

a.article,
a.article:hover {
    background: #EC156E !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.mobile_mode_sidebar {
    display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1200px){
    .mobile_mode_sidebar {
        display: block;
    }
    #sidebar {
        margin-left: -250px;
        top: 0;
        
    }
    #mainNav {
        z-index: 998 !important;
    }
    #sidebar.active {
        margin-left: 0;
        right: 0;
        left: auto;    
        z-index: 999;
    }
    #content {
        width: 100%;
    }
    /* #content.active {
        width: calc(100% - 250px);
    } */
    #sidebarCollapse span {
        display: none;
    }
    
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.js3214 {
    line-height: 30px;
    white-space: normal;
    display: inline-block;
    width: 65%;
}