{% extends 'before_login/index.html' %}

  {% block title %}
  <title>Crowd Funding | About Us</title>
  {% endblock %}
  {% block extra_style %}
  <link href="/static/css/select2.min.css" rel="stylesheet">
  {% endblock %}
  {% block body %}
    <main>        
        <div class="discoverDiv">
            <div class="DImageDiv"><img src="/static/images/Home_1.jpg" class="DImage" alt="">
              <div class="jss445">
                <div class="jss4446 ">About Us</div>
                <div class="jss447_c"></div>
                <div class="jss448_c color_fff">Our Democracy is about raising awarness and a platform to bring change by the people for the people.</div>
              </div>
            </div>
        </div>
        <main class="jss2_about">
            <div class="aboutus-row1">
              <div class="jss4_about aboutus-row1-container">
                  <div class="row1-heading">
                    <h2 >What is Our Democracy?</h2>
                    <div class="row1-dash">
                      <div class="row1-big-dash"></div>
                      <div class="row1-small-dash"></div>
                    </div>
                  </div>
                  <div class="aboutus-content">
                      <p class="jss6_about">Our Democracy is a campaign community that helps journalists, political activists and
                        changemakers build a community online that supports them financially and amplifies their campaign. It works in three
                        broad areas: <br>1. Help make the media and public opinion ecosystem more credible <br>2. Make political funding
                        transparent and our leaders accountable to the people. <br>3. Mobilise citizens to make social and political
                        interventions when needed. <br></p>
                  </div>
              </div>
              <div class="jss4_about aboutus-row1-container mt-4">
                  <div class="row1-heading">
                    <h2 >Our Politics</h2>
                    <div class="row1-dash">
                      <div class="row1-big-dash"></div>
                      <div class="row1-small-dash"></div>
                    </div>
                  </div>
                  <div class="aboutus-content">
                      <p class="jss6_about">We believe our democracy is increasingly getting controlled by a very few number of people who are trying to control entire populations. We believe people need to come together and RECLAIM DEMOCRACY. The platform aims to create a level-playing field for changemakers and disruptors. It brings transparency and accountability to public life. We are committed to the ideas of social justice, gender equality, equal opportunity and a world that works for everyone. We believe love can conquer fear.</p>
                  </div>
              </div>
              <div class="jss4_about aboutus-row1-container mt-4">
                  <div class="row1-heading">
                    <h2>Meet Our Team</h2>
                    <div class="row1-dash">
                      <div class="row1-big-dash"></div>
                      <div class="row1-small-dash"></div>
                    </div>
                  </div>
                  <div class="aboutus-content aboutus-team">
                    <div class="aboutus-team-content">
                      <img src="/static/images/Our-Team-Bilal-Zaidi.jpg" alt=" ">
                      <div class="aboutus-team-name">
                        <h2 class="jss143 jss167 jss160 colr_yellow" style="font-size: 18px;">Bilal Zaidi</h2>
                        <h6 class="jss155 jss160 abutus-team-position fw_400" style="display: flex; text-align: left; font-size: 16px;line-height: 25px;">Former Global Campaigner, Avaaz.org (based in New York). Volunteered with Bernie Sanders for 2016 campaign. Former journalist with Times Now, NDTV, NewsX among others. Covered more than 24 assembly elections and 3 Lok Sabha elections. Also covered the Indian Parliament for 8 years.</h6>
                        <a href="mailto:bilal@ourdemocracy.in" class="text_decoration_color_0056b3 fw_400 cursor_pointer"><h6 class="jss137 jss155 fw_400">bilal@ourdemocracy.in</h6></a>
                      </div>
                    </div>
                    <div class="aboutus-team-content">
                      <img src="/static/images/Our-Team-Anand-Mangnale.jpg" alt=" ">
                      <div class="aboutus-team-name">
                        <h2 class="jss143 jss167 jss160 colr_yellow" style="font-size: 18px;">Anand mangnale  </h2>
                        <p class="aboutus-team-name_caption" >Director of Campaigns</p>
                        <h6 class="jss155 jss160 abutus-team-position fw_400" style="display: flex; text-align: left; font-size: 16px;line-height: 25px;">University of Westminster Masters in Media Campaigning & Social Change. Worked on Advocacy Campaigns in London. Socio - Political Campaigner Campaigned extensively on Farmers issues, Human Rights Issues & on several political campaigns in India.</h6>
                        <a href="mailto:anand@ourdemocracy.in" class="text_decoration_color_0056b3 fw_400 cursor_pointer"><h6 class="jss137 jss155 fw_400">anand@ourdemocracy.in</h6></a>
                      </div>
                    </div>
                    <div class="aboutus-team-content">
                      <img src="/static/images/Our-Team-Nishtha-Sood.jpg" alt=" ">
                      <div class="aboutus-team-name">
                        <h2 class="jss143 jss167 jss160 colr_yellow" style="font-size: 18px;">Nishtha Sood </h2>
                        <p class="aboutus-team-name_caption" >Campaigner</p>
                        <h6 class="jss155 jss160 abutus-team-position fw_400" style="display: flex; text-align: left; font-size: 16px;line-height: 25px;">Nishtha has worked with Delhi Govt's Dialogue and Development commission, focusing on issues like manual scavenging and public transport, besides working as a human rights consultant. She has volunteered with the 2016 Bernie Sanders campaign as well as Aam Aadmi Party.</h6>
                      </div>
                    </div>
                    <div class="aboutus-team-content">
                      <img src="/static/images/Our-Team-Yash-Marwah.jpg" alt=" ">
                      <div class="aboutus-team-name">
                        <h2 class="jss143 jss167 jss160 colr_yellow" style="font-size: 18px;">Yash Marwah </h2>
                        <p class="aboutus-team-name_caption" >Campaign Consultant</p>
                        <h6 class="jss155 jss160 abutus-team-position fw_400" style="display: flex; text-align: left; font-size: 16px;line-height: 25px;">Yash is a young media professional who cares for the environment and likes to raise hell when public servants don't pay heed to citizen's complaints. He founded Let Mumbai Breathe in 2018 to enable conversation between the citizens and their servants.</h6>
                      </div>
                    </div>
                </div>
                  <div class="row1-heading" style="margin: 0px; align-self: flex-start; height: fit-content;">
                    <h2 style="font-size: 20px; color: rgb(51, 51, 51);">Advisors</h2>
                  </div>
                  
                  <div class="aboutus-team-content-list">
                    <div class="aboutus-team-content">
                      <h2 class="jss167_about" >Osama Manzar<label
                          style="color: rgb(102, 102, 102); margin: 2px 0px 8px; font-weight: 500; text-align: left;">Founder Director,
                          Digital Empowerment Foundation</label></h2>
                    </div>
                    <div class="aboutus-team-content">
                      <h2 class="jss167_about" >Alaphia Zoyab<label
                          style="color: rgb(102, 102, 102); margin: 2px 0px 8px; font-weight: 500; text-align: left;">Avaaz
                          Foundation</label></h2>
                    </div>
                    <div class="aboutus-team-content">
                      <h2 class="jss167_about" >Shivam Shankar Singh<label
                          style="color: rgb(102, 102, 102); margin: 2px 0px 8px; font-weight: 500; text-align: left;">Author, How to win
                          an Indian election</label></h2>
                    </div>
                    <div class="aboutus-team-content">
                      <h2 class="jss167_about" >Trina Talukdar<label
                          style="color: rgb(102, 102, 102); margin: 2px 0px 8px; font-weight: 500; text-align: left;">Ashoka
                          Foundation</label></h2>
                    </div>
                    <div class="aboutus-team-content">
                      <h2 class="jss167_about" >Akshay Bajaj<label
                          style="color: rgb(102, 102, 102); margin: 2px 0px 8px; font-weight: 500; text-align: left;">IIT Kanpur</label>
                      </h2>
                    </div>
                  </div>

              </div>
            </div>
            <div class="contact-row2">
              <h5 class="jss137_c">Do you have a cause in mind you strongly feel for?</h5><a
                class="jss184_c" style = 'text-transform:none !important;' tabindex="0" role="button" href="{% url 'start_campaign' %}"><span
                  class="">Start a Fundraiser</span><span class="jss208"></span></a><a
                class="jss184_c" style = 'text-transform:none !important;' tabindex="0" role="button" href="{% url 'start_support_group' %}"><span
                  class="">Start a Mobilisation Campaign</span><span class="jss208"></span></a>
            </div>
        </main>
    </main>
  {% endblock %}


  {% block extra_script %}
  <script type="text/javascript" src="/static/js/select2.full.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
  
  
  <script type="text/javascript">
    $(document).ready(function() {
        $('.select2').select2();
    });
    $("#technology-focus").flexisel({
     visibleItems:5,
     itemsToScroll: 1,         
     autoPlay: {
       enable: true,
       interval: 7000,
       pauseOnHover: true
     }        
   });
 </script>
 {% endblock %}
