<table class="table">
    <thead>
        <th class="colr_yellow border-top-0">Payment Date</th>
        <th class="colr_yellow border-top-0">Amount</th>
        <th class="colr_yellow border-top-0">Status</th>
        <th class="colr_yellow border-top-0">Request Refund</th>
    </thead>
    <tbody>
        {% for Doners in instance_CampaignDoners %}
        <tr>
            <td>{{Doners.created_at}}</td>
            <td>INR {{Doners.amount}}</td>
            <td>
                {% if Doners.is_request_refund %}
                    {{ Doners.refund_status }}
                {% else %}
                    {{Doners.payment_status}}
                {% endif %}
            </td>
                
            <td>
                {% if Doners.is_request_refund %}
                    {% if Doners.refund_status  == 'refund decline' %}
                    <a class="jss167 jss141 jss149 jss150 jss57" tabindex="0" role="button" href="{% url 'my_supported_fundraise_request_refund' Doners.id %}"><span class="jss142 jss58">Request Refund</span><span class="jss339"></span></a>
                        
                    {% else %}
                       ----
                    {% endif %}
                {% else %}
                <a class="jss167 jss141 jss149 jss150 jss57" tabindex="0" role="button" href="{% url 'my_supported_fundraise_request_refund' Doners.id %}"><span class="jss142 jss58">Request Refund</span><span class="jss339"></span></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>