<table class="table text-center" id="support_group_datatable">
        <thead class="thead-light">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Email​</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
                {% for supporter in instance_CampaignDoners %}
                <tr>
                    <td>{{supporter.name}}</td>
                    <td>{{supporter.email}}</td>
                    <td>{{supporter.phone}}</td>
                    <td>{{supporter.amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        
        </table>