{% if instance_Event|length != 0 %}
    <div class="DItemsDiv">
        {% for event in instance_Event %}
        <div class="DItemDiv">
            <a class="w-100" href="{% url 'my_event_dashboard' event.url_text %}">
                <img src="/media/{{event.image}}" class="DItemImage" alt="" draggable="false">
                <div class="DItemDetailsDiv ml-auto mr-auto">
                    <p class="DItemTitle">{{event.name}}</p>
                    <div class="w-100">
                        <p class="mb-0">
                            <i class="fa fa-map-marker mr-1" aria-hidden="true"></i>   {{event.place}}
                        </p>
                        <p class="mb-0">
                            <i class="fa fa-calendar mr-1" aria-hidden="true"></i> {{event.date}}
                        </p>
                    </div>
                    <div class="DItemByDiv">
                        <img src="/media/{{event.user.profile}}" class="DItemByImg" alt="" draggable="false">
                        <p class="DItemByText">by {{event.user.name}}</p>
                    </div>
                </div>
                <div class="DItemNumLineDiv">
                    <div class="DItemNumbersDiv">
                        <div class="DItemGoalDiv" style="border: 0px;">
                            <p class="DItemGoal"><svg aria-hidden="true" data-prefix="fas" data-icon="users"
                                    class="svg-inline--fa fa-users fa-w-20 " role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 640 512">
                                    <path fill="currentColor"
                                        d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
                                    </path>
                                </svg> {{ event.group_member_count }} <br>MEMBERS</p>
                        </div>
                    </div>
                </div>
            </a>
            <div class="DItemActionDiv">
                <ul class="DItemActionDiv_con campaignAction_div">
                    <!-- <li>
                        <span style=" text-align: center;">Edit</span>
                        <a href="{% url 'event_selected' event.url_text %}" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </li>
                    <li>

                        <span style=" text-align: center;">Support User</span>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#support_user" aria-hidden="true" onclick="SupportUser('{% url 'my_event_user' event.id %}')">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                    </li> -->
                    <!-- <li>
                        <span style="     width: 125%; text-align: center;">Dashboard</span>
                        <a href="{% url 'my_event_dashboard' event.url_text %}" target="_blank">
                                <svg version="1.1" fill="#ec156e" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="20px" height="20px" viewBox="0 0 93.802 93.802" style="enable-background:new 0 0 93.802 93.802;"
                                xml:space="preserve">
                           <g>
                               <g>
                                   <polygon points="46.746,93.802 54.7,77.1 39.102,77.123 		"/>
                                   <path d="M2.167,0v73.199h89.468V0H2.167z M85.825,67.391H7.977V5.81h77.848V67.391z"/>
                                   <path d="M27.607,34.385l-10.45,10.874v18.349c0,0.516,0.419,0.936,0.936,0.936h12.688c0.517,0,0.936-0.419,0.936-0.936V35.461
                                       l-2.926-1.076H27.607z"/>
                                   <path d="M53.45,42.913H40.763c-0.518,0-0.937,0.419-0.937,0.936v19.758c0,0.517,0.419,0.937,0.937,0.937H53.45
                                       c0.517,0,0.936-0.419,0.936-0.937V43.848C54.386,43.332,53.967,42.913,53.45,42.913z"/>
                                   <path d="M71.892,22.785l-2.305-1.926l-8.339,9.097v33.651c0,0.516,0.419,0.936,0.937,0.936h12.688
                                       c0.517,0,0.936-0.419,0.936-0.936V23.095c-0.052,0.03-0.099,0.067-0.152,0.094c-0.485,0.254-1.03,0.388-1.578,0.388
                                       C73.278,23.578,72.504,23.297,71.892,22.785z"/>
                                   <path d="M14.057,43.857c0.491,0,0.982-0.193,1.35-0.575L27.35,30.854l20.897,7.689c0.714,0.261,1.512,0.068,2.027-0.492
                                       L69.517,17.06l4.502,3.764c0.221,0.184,0.528,0.216,0.782,0.084c0.253-0.133,0.403-0.404,0.377-0.691L74.202,9.305
                                       c-0.034-0.39-0.379-0.677-0.768-0.642L62.521,9.637c-0.285,0.025-0.527,0.221-0.613,0.494c-0.027,0.09-0.036,0.183-0.028,0.274
                                       c0.017,0.184,0.104,0.358,0.251,0.48l4.512,3.771l-18.279,19.94l-20.866-7.678c-0.699-0.255-1.481-0.075-1.997,0.459
                                       L12.708,40.688c-0.716,0.746-0.693,1.93,0.053,2.646C13.123,43.683,13.59,43.857,14.057,43.857z"/>
                               </g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           </svg>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="DPageNumberDiv">
        {% if instance_Event.has_other_pages %}
        <ul class="DPageNumberDiv">
            {% if instance_Event.has_previous %}
            <li class="PagePrevNext" onclick="changepage('{{ instance_Event.previous_page_number }}')"> &lt; </li>
            {% endif %}
    
            {% for i in instance_Event.paginator.page_range %}
            {% if instance_Event.number == i %}
            <li onclick="changepage('{{ i }}')" class="DPageNumber DPageNumberActive"> {{i}} </li>
            {% else %}
            <li onclick="changepage('{{ i }}')" class="DPageNumber">{{i}}</li>
            {% endif %}
            {% endfor %}
    
            {% if instance_Event.has_next %}
            <li class="PagePrevNext" onclick="changepage('{{ instance_Event.next_page_number }}')"> &gt; </li>
            {% endif %}
        </ul>
        {% endif %}
    </ul>
{% elif instance_SupportGroup|length != 0 %}
    <div class="DItemsDiv">
        {% for supportgroup in instance_SupportGroup %}
            <div class="DItemDiv">
                <a class="w-100" href="{% url 'my_mobilisation_campaign_dashboard' supportgroup.url_text %}">
                    <img src="/media/{{ supportgroup.picture }}" class="DItemImage" alt="" draggable="false">
                    <div class="DItemDetailsDiv ml-auto mr-auto">
                        <p class="DItemTitle"> {{ supportgroup.title }}</p>
                        <div class="DItemByDiv">
                            <img src="/media/{{supportgroup.group_leader.profile}}" class="DItemByImg" alt="" draggable="false">
                            <p class="DItemByText">by {{ supportgroup.group_leader.name }}</p>
                        </div>
                        <p class="DItemDescp" style="max-height: 33px;">
                            {{ supportgroup.short_description }}
                        </p>
                    </div>
                    <div class="DItemNumLineDiv">
                        <div class="DItemNumbersDiv">
                            <div class="DItemGoalDiv" style="border: 0px;">
                                <p class="DItemGoal"><svg aria-hidden="true" data-prefix="fas" data-icon="users"
                                        class="svg-inline--fa fa-users fa-w-20 " role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 640 512">
                                        <path fill="currentColor"
                                            d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
                                        </path>
                                    </svg> {{ supportgroup.group_member_count}} <br>MEMBERS</p>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="DItemActionDiv">
                    <ul class="DItemActionDiv_con campaignAction_div">
                        <!-- <li>
                            <span style=" text-align: center;">Edit</span>
                            <a href="{% url 'support_group_selected' supportgroup.url_text %}" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </li>
                        <li>                        
                            <span style=" text-align: center;">Support User</span>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#support_user" aria-hidden="true" onclick="SupportUser('{% url 'my_support_group_user' supportgroup.id %}')">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </a>
                        </li> -->
                        <!-- <li>                        
                            <span style="     width: 125%; text-align: center;">Dashboard</span>
                            <a href="{% url 'my_mobilisation_campaign_dashboard' supportgroup.url_text %}">
                                    <svg version="1.1" fill="#ec156e" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    width="20px" height="20px" viewBox="0 0 93.802 93.802" style="enable-background:new 0 0 93.802 93.802;"
                                    xml:space="preserve">
                               <g>
                                   <g>
                                       <polygon points="46.746,93.802 54.7,77.1 39.102,77.123 		"/>
                                       <path d="M2.167,0v73.199h89.468V0H2.167z M85.825,67.391H7.977V5.81h77.848V67.391z"/>
                                       <path d="M27.607,34.385l-10.45,10.874v18.349c0,0.516,0.419,0.936,0.936,0.936h12.688c0.517,0,0.936-0.419,0.936-0.936V35.461
                                           l-2.926-1.076H27.607z"/>
                                       <path d="M53.45,42.913H40.763c-0.518,0-0.937,0.419-0.937,0.936v19.758c0,0.517,0.419,0.937,0.937,0.937H53.45
                                           c0.517,0,0.936-0.419,0.936-0.937V43.848C54.386,43.332,53.967,42.913,53.45,42.913z"/>
                                       <path d="M71.892,22.785l-2.305-1.926l-8.339,9.097v33.651c0,0.516,0.419,0.936,0.937,0.936h12.688
                                           c0.517,0,0.936-0.419,0.936-0.936V23.095c-0.052,0.03-0.099,0.067-0.152,0.094c-0.485,0.254-1.03,0.388-1.578,0.388
                                           C73.278,23.578,72.504,23.297,71.892,22.785z"/>
                                       <path d="M14.057,43.857c0.491,0,0.982-0.193,1.35-0.575L27.35,30.854l20.897,7.689c0.714,0.261,1.512,0.068,2.027-0.492
                                           L69.517,17.06l4.502,3.764c0.221,0.184,0.528,0.216,0.782,0.084c0.253-0.133,0.403-0.404,0.377-0.691L74.202,9.305
                                           c-0.034-0.39-0.379-0.677-0.768-0.642L62.521,9.637c-0.285,0.025-0.527,0.221-0.613,0.494c-0.027,0.09-0.036,0.183-0.028,0.274
                                           c0.017,0.184,0.104,0.358,0.251,0.48l4.512,3.771l-18.279,19.94l-20.866-7.678c-0.699-0.255-1.481-0.075-1.997,0.459
                                           L12.708,40.688c-0.716,0.746-0.693,1.93,0.053,2.646C13.123,43.683,13.59,43.857,14.057,43.857z"/>
                                   </g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               </svg>
                            </a>
                        </li> -->
        
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <ul class="DPageNumberDiv">
        {% if instance_SupportGroup.has_other_pages %}
        <ul class="DPageNumberDiv">
            {% if instance_SupportGroup.has_previous %}
                <li class="PagePrevNext" onclick="changepage('{{ instance_SupportGroup.previous_page_number }}')" > &lt; </li>
            {% endif %}
        
            {% for i in instance_SupportGroup.paginator.page_range %}
                {% if instance_SupportGroup.number == i %}
                    <li onclick="changepage('{{ i }}')" class="DPageNumber DPageNumberActive"> {{i}} </li>
                {% else %}
                    <li onclick="changepage('{{ i }}')" class="DPageNumber" >{{i}}</li>
                {% endif %}
            {% endfor %}
        
            {% if instance_SupportGroup.has_next %}
                <li class="PagePrevNext" onclick="changepage('{{ instance_SupportGroup.next_page_number }}')"> &gt; </li>
            {% endif %}
        </ul>
        {% endif %} 
    </ul>
{% elif instance_CampaignFundRaiser|length != 0 %}
    
        <div class="DItemsDiv">
            {% for fundraiser in instance_CampaignFundRaiser %}
                <div class="DItemDiv">
                 <a class="w-100" href="{% url 'my_fundraiser_campaign_dashboard' fundraiser.url_text %}">
                    <img src="/media/{{ fundraiser.picture }}" class="DItemImage" alt="" draggable="false">
                    <div class="DItemDetailsDiv ml-auto mr-auto">
                        <p class="DItemTitle"> {{ fundraiser.title }}</p>
                        <div class="DItemByDiv"><img
                                src="/media/{{ fundraiser.user.profile }}"
                                class="DItemByImg" alt="" draggable="false">
                            <p class="DItemByText">by {{ fundraiser.user.name }}</p>
                        </div>
                        <p class="DItemDescp" style="max-height: 33px;">
                            {{ fundraiser.short_description }}
                        </p>
                    </div>
                    <div class="DItemNumLineDiv">
                            <div class="DItemNumbersDiv">
                                <div class="DItemDeadlineDiv" style="">
                                    <p class="DItemDeadline">{{ fundraiser.available_days }} <br>DAYS LEFT</p>
                                </div>
                                <div class="DItemGoalDiv">
                                    <p class="DItemGoal"><svg aria-hidden="true" data-prefix="fas" data-icon="rupee-sign"
                                            class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 320 512">
                                            <path fill="currentColor"
                                                d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                                            </path>
                                        </svg> {{ fundraiser.campaigntotalamount.total_amount}} <br>RAISED</p>
                                </div>
                            </div>
                            <div class="DItemCompletionDiv">
                                <div class="DItemCompletionLineDiv">
                                    <div class="filled" style="width: {{ fundraiser.totalfund_in_percentage }}%;"></div>
                                </div>
                                <p class="DItemCompletionText">{{ fundraiser.totalfund_in_percentage }} %</p>
                            </div>
                        </div>
                  </a>
                    <div class="DItemActionDiv">
                        <ul class="DItemActionDiv_con campaignAction_div">
                            <!-- <li>
                                <span style=" text-align: center;">Edit</span>
                                <a href="{% url 'campaign_selected' fundraiser.url_text %}" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </li> -->
                            <!-- <li>
                                <span style="    width: 125%; text-align: center;">Dashboard</span>
                                <a href="{% url 'my_fundraiser_campaign_dashboard' fundraiser.url_text %}">
                                        <svg version="1.1" fill="#ec156e" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="20px" height="20px" viewBox="0 0 93.802 93.802" style="enable-background:new 0 0 93.802 93.802;"
                                        xml:space="preserve">
                                   <g>
                                       <g>
                                           <polygon points="46.746,93.802 54.7,77.1 39.102,77.123 		"/>
                                           <path d="M2.167,0v73.199h89.468V0H2.167z M85.825,67.391H7.977V5.81h77.848V67.391z"/>
                                           <path d="M27.607,34.385l-10.45,10.874v18.349c0,0.516,0.419,0.936,0.936,0.936h12.688c0.517,0,0.936-0.419,0.936-0.936V35.461
                                               l-2.926-1.076H27.607z"/>
                                           <path d="M53.45,42.913H40.763c-0.518,0-0.937,0.419-0.937,0.936v19.758c0,0.517,0.419,0.937,0.937,0.937H53.45
                                               c0.517,0,0.936-0.419,0.936-0.937V43.848C54.386,43.332,53.967,42.913,53.45,42.913z"/>
                                           <path d="M71.892,22.785l-2.305-1.926l-8.339,9.097v33.651c0,0.516,0.419,0.936,0.937,0.936h12.688
                                               c0.517,0,0.936-0.419,0.936-0.936V23.095c-0.052,0.03-0.099,0.067-0.152,0.094c-0.485,0.254-1.03,0.388-1.578,0.388
                                               C73.278,23.578,72.504,23.297,71.892,22.785z"/>
                                           <path d="M14.057,43.857c0.491,0,0.982-0.193,1.35-0.575L27.35,30.854l20.897,7.689c0.714,0.261,1.512,0.068,2.027-0.492
                                               L69.517,17.06l4.502,3.764c0.221,0.184,0.528,0.216,0.782,0.084c0.253-0.133,0.403-0.404,0.377-0.691L74.202,9.305
                                               c-0.034-0.39-0.379-0.677-0.768-0.642L62.521,9.637c-0.285,0.025-0.527,0.221-0.613,0.494c-0.027,0.09-0.036,0.183-0.028,0.274
                                               c0.017,0.184,0.104,0.358,0.251,0.48l4.512,3.771l-18.279,19.94l-20.866-7.678c-0.699-0.255-1.481-0.075-1.997,0.459
                                               L12.708,40.688c-0.716,0.746-0.693,1.93,0.053,2.646C13.123,43.683,13.59,43.857,14.057,43.857z"/>
                                       </g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   <g>
                                   </g>
                                   </svg>
                                </a>
                            </li> -->
                            <!-- <li>
                                    <span style="    width: 125%; text-align: center;">Funds Summary</span>
                                    <a href="javascript:void(0)" aria-hidden="true" onclick="funds_summary('{% url 'campaign_funds_summary' fundraiser.id %}')">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                     <span style="    width: 125%; text-align: center;">Withdrawal Request</span>
                                    <a href="javascript:void(0)" onclick="withdrawal_request('{% url 'campaign_withdrawal' fundraiser.id  %}')" aria-hidden="true">
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                    </a>
                                </li> -->
            
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul class="DPageNumberDiv">
            {% if instance_CampaignFundRaiser.has_other_pages %}
            <ul class="DPageNumberDiv">
                {% if instance_CampaignFundRaiser.has_previous %}
                    <li class="PagePrevNext" onclick="changepage('{{ instance_CampaignFundRaiser.previous_page_number }}')" > &lt; </li>
                {% endif %}
            
                {% for i in instance_CampaignFundRaiser.paginator.page_range %}
                    {% if instance_CampaignFundRaiser.number == i %}
                        <li onclick="changepage('{{ i }}')" class="DPageNumber DPageNumberActive"> {{i}} </li>
                    {% else %}
                        <li onclick="changepage('{{ i }}')" class="DPageNumber" >{{i}}</li>
                    {% endif %}
                {% endfor %}
            
                {% if instance_CampaignFundRaiser.has_next %}
                    <li class="PagePrevNext" onclick="changepage('{{ instance_CampaignFundRaiser.next_page_number }}')"> &gt; </li>
                {% endif %}
            </ul>
            {% endif %} 
        </ul>
    
{% else %}
{% endif %}