{% extends 'user_template/my_event_dashboard.html' %}

{% block extra_style %}
<link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
{% endblock %}


{% block body %}
<main>
    <div class="container">
    <!-- <form>
      <div class="d-flex justify-content-end">
        <div class="tags1 react-tags-wrapper">
          <div class="tagsSelected1">
              <span class="tag-wrapper tag1 cursor-move" draggable="true"><a class="tagsRemove1">×</a></span>
              <div class="tagInput1"><input class="tagInputField1" type="text" placeholder="Tags for people to search for.." aria-label="Tags for people to search for.." maxlength="20" value=""></div>
          </div>
        </div>
      </div>
      </form> -->
      <div class="row">
        <div class="col-sm-12">
            <div class="jss528_c pb-0 bg_3e3e3e">
                <p class="CDCampTitle position-relative color_fff">
                    <i class="fa fa-pencil edit_icon"  data-toggle="modal" data-target="#edit_title" aria-hidden="true"></i> 
                  {{ instance_Event.name }}
                </p>
                <div class="CDBelowTitleDiv bg_3e3e3e">
                    <div class="CDImageDiv">
                      <div class="position-relative color_fff">
                            <i class="fa fa-pencil edit_icon"  data-toggle="modal" data-target="#edit_image" aria-hidden="true"></i>
                          <img src="/media/{{ instance_Event.image }}" class="CDImgInitMain" alt="">
                        </div>
                        <p class="position-relative color_fff" style="margin: 1em 0px 1em; width: auto; ">
                            {% if request.is_secure %}https{% else %}http{% endif %}://{{domain}}{% url 'event_selected' url_text=instance_Event.url_text  %}
                        <i class="fa fa-pencil edit_icon"  data-toggle="modal" data-target="#edit_url_modal" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="CDValuesDiv ">
                        {% if is_not_joined %}
                        <div class="donateBtnDiv w-100" style="margin-top: 20px;">
                            <button class="jss262_c" data-toggle="modal" data-target="#supportfundraises" tabindex="0" type="button"><span class="jss237 jss231">
                              Join this Event
                            </span><span class="jss326"></span>
                          </button>
                        </div>
                        {% endif %}
                         <div>
                            <form class="mb-0" method="POST">
                                {% csrf_token %}
                                 <div>
                                     <label class="jss867 mb-0">
                                       <span class="jss873">
                                         <span class="jss892 jss886 jss882 jss876 jss883 jss878 jss877">
                                           <span class="jss891">
                                             <span class="jss874 jss875"></span>
                                             {{EventIsEndGoal_Form.is_end_goal}}
                                           </span>
                                           <span class="jss934"></span>
                                         </span>
                                         <span class="jss881"></span>
                                       </span>
                                       <span id="fundraiser_end_goal_id_text" class="jss798 jss807 jss872 color_fff">Has an end goal</span></label>
                                       
                                 </div>
                                 <input type="hidden" name="form_type" value="EndGoal">
                             </form>
                        </div>
                        <div class="goaldiv_contanier w-100" id="event_end_goal_div">
                            <div class="goalDiv">
                              <div class="CDCampGoal position-relative color_fff" style="margin-top: 0; font-size: 1.1rem;">
                                {{instance_Event.group_member_count}} members
                              </div>
                            </div>
                        </div>
                        <div class="locationClass">
                          <p class="position-relative color_fff">Location : <span> {{instance_Event.place}}</span>
                                  <i class="fa fa-pencil edit_icon"  data-toggle="modal" data-target="#edit_location" aria-hidden="true"></i>
                          </p>
                          <p class="position-relative color_fff">Date : <span> {{instance_Event.date}}</span>
                                  <i class="fa fa-pencil edit_icon"  data-toggle="modal" data-target="#edit_date" aria-hidden="true"></i>
                          </p>
                          {% if instance_Event.ticket %}
                          <div class="donateBtnDiv color_fff w-100" style="margin-top: 20px;">
                              <a class="jss262_c" href="{{instance_Event.ticket}}" ><span class="jss237 jss231">
                                Buy Ticket
                              </span><span class="jss326"></span>
                            </a>
                          </div>
                          {% endif %}
                      </div>
                        <div class="CDPeopleContainerSP">
                            <div class="CDPeopleImage"
                                style="align-items: center; width: fit-content; margin: 0px 16px 0px 0px; padding: 0px;">
                                <img src="/media/{{instance_Event.user.profile}}" class="imgPeople2" alt=""></div>
                            <div class="CDPeopleDetail">
                                <p class="CDPeopleTitle color_fff" style="margin: 0px;">Campaigner</p>
                                <p class="CDPeopleName color_fff">{{ instance_Event.user.name }}</p>
                                {% if instance_Event.user.is_indian %}
                                <p class="CDPeopleLocation color_fff"><svg aria-hidden="true" data-prefix="fas" data-icon="map-marker"
                                        class="svg-inline--fa fa-map-marker fa-w-12 " role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                        >
                                        <path fill="currentColor"
                                            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z">
                                        </path>
                                    </svg> India</p>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
                <div class="belowImage mb-3">
                    <div class="descriptionsDiv">
                       
                        <div class="CDAboutCampDiv">
                          <p class="CDAboutTitle position-relative"> 
                              <i class="fa fa-pencil edit_icon right-0"  data-toggle="modal" data-target="#edit_About_The_Campaign" aria-hidden="true"></i>
                            About The Campaign
                          </p>
                          <p class="CDAboutText">
                              {% autoescape off %}
                              {{ instance_Event.about|linebreaks }}
                              {% endautoescape %}
                          </p>
                      </div>
                        
                    </div>
                    <div class="CDPeopleDiv mt-1">
                        <div class="CDPeopleSupporters">
                <p class="CDCommentHeading"><svg aria-hidden="true" data-prefix="fas" data-icon="users"
                    class="svg-inline--fa fa-users fa-w-20 " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 640 512">
                    <path fill="currentColor"
                      d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
                    </path>
                  </svg> Supporters</p>
                <div class="CDCommentHeadingLine"></div>
                <div id="supporters_table_conn">
                  {% if instance_EventGroupMembers|length != 0 %}
                  <table class="table text-left supporters_table display responsive nowrap">
                    <thead style="height: 0px;">
                      <tr>
                        <td style="width: 99px !important;"></td>
                        <td></td>
                        <td style="width: 200px;    word-break: keep-all;"></td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                        {% for member in instance_EventGroupMembers %}
    
                        <tr class="CDPeopleContainer">
                          <td style="width: 99px !important;">
                            <div class="CDPeopleImage">
                              <div class=" sb-avatar sb-avatar--text">
                                <div class=" sb-avatar__text">
                                  <div class=" sb-avatar__text_con ">
                                    <span class=" sb-avatar__text_con_span "><span>{{member.short_name}}</span></span></div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="CDPeopleTitle CDPeople1 w-100">{% if member.is_hide_me %}  Anonymous  {% else %} {{member.name}} {% endif %}</p>
                          </td>
                          <td >
                            <p class="CDPeopleTitle CDPeople2 "><b>
                              {% if member.joining_date == Today %}
                                Today 
                              {% else %} 
                                {{ member.joining_date|timesince:Today }} ago 
                              {% endif %}
                            </b>
                            </p>
                          </td>
                          <td style="width: 20px;"></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
                    </div>
                </div>    
    
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}


{% block model_popup %}


  <div class="modal fade" id="edit_title" role="dialog" aria-labelledby="edit_titleTittle" aria-hidden="false"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 pl-4  pb-1">
          <h5 class="modal-title" id="edit_titleTittle">Edit Tittle </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST">
            {% csrf_token %}
            <div class="jss833 jss834 jss836">
              <p class="jss798 jss807">Edit Your Tittle</p>
              <div class="jss833">
                <div class="jss850 jss837 jss841 jss851 jss838 edit_title_class" id="tittle_count">
                    <div class="jss217_goal"> <span class="result"></span>/90 </div>
                    <!-- <input aria-invalid="false" class="jss860 jss845" type="text" value=""> -->
                    <div class="jss217_goal_input">
                      <input aria-invalid="false" class="jss860 jss845 " maxlength="90" name="title" value="{{Event_Title_Form.name.value}}" id="id_title" type="text" >
                    </div>                
                </div>
                <span class="error edit_title_error">{{Event_Title_Form.errors.name}}</span>
              </div>
            </div>
            <button name="form_type" value="Title" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="edit_title_btn" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_image" role="dialog" aria-labelledby="edit_imageTittle" aria-hidden="false"
    data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0 pl-4  pb-1">
          <h5 class="modal-title" id="edit_imageTittle">Edit Image </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="jss550 jss551 jss553">
              <p class="jss515 jss524">Upload Image</p>
              <div class="jss550">
                <div class="jss567 jss554 jss558 jss568 jss555">
                  <span class="js">
                    <span class="box">
                      <input type="file" name="image" onchange="Validateimgupload(this);" id="id_picture" class="inputfile inputfile-1" >
                      <label id="lblfile-1" for="id_picture"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                          height="17" viewBox="0 0 20 17">
                          <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                          </path>
                        </svg> <span>Upload Image</span></label>
                    </span>
                  </span>
                </div>
                <span class="error" id="id_picture_error"></span>
              </div>
            </div>
            <button name="form_type" value="Picture" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="id_picture_btn" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="edit_location" role="dialog" aria-labelledby="edit_locationTittle"
  aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header pl-4  pb-1">
          <h5 class="modal-title" id="edit_About_The_CampaignTittle">Edit Location </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST">
            {% csrf_token %}
            <div class="jss550 jss551 jss553">
          <p class="jss515 jss524">Where</p>
          <div class="jss550">
            <div class="jss567 jss554 jss558 jss568 jss555">
                <!-- <input type="text" name="place" class="jss577 jss562" maxlength="250" required="" id="id_place"> -->
                {{Event_Place_Form.place}}
            </div>
            <span class="error">{{Event_Place_Form.errors.place}}</span>
          </div>
        </div>
            <button name="form_type" value="Location" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="edit_place" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_date" role="dialog" aria-labelledby="edit_dateTittle"
  aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header pl-4  pb-1">
          <h5 class="modal-title" id="edit_About_The_CampaignTittle">Edit Date </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST">
            {% csrf_token %}
            <div class="jss550 jss551 jss553">
              <p class="jss515 jss524">Location</p>
              <div class="jss550">
                <div class="jss567 jss554 jss558 jss568 jss555">
                    <input type="text" name="date" class="jss577 jss562" value="{{Event_Date_Form.date.value|date:'Y-m-d H:i'}}" autocomplete="off" id="datetimepicker1" required="">
                </div>
                <span class="error" id="date_error">{{Event_Date_Form.errors.date}}</span>
              </div>
            </div>
            <button name="form_type" value="Date" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="edit_date" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_About_The_Campaign" role="dialog" aria-labelledby="edit_About_The_CampaignTittle"
  aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header pl-4  pb-1">
          <h5 class="modal-title" id="edit_About_The_CampaignTittle">Edit About the Campaign </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST">
            {% csrf_token %}
            <div class="jss550 jss551 jss553">
              <div class="jss550">
                <div class="jss567 jss554 jss568 jss555" id="id_about_cam">
                  <textarea class="jss577 jss562 jqte-test w-100" id="id_about" name="about" value="{{Event_About_Form.about.value}}">{{Event_About_Form.about.value}}</textarea>
                  
                </div>
              </div>
            </div>
            <button name="form_type" value="About" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="abt_capm_group" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_Updates" role="dialog" aria-labelledby="edit_UpdatesTittle" aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header pl-4  pb-1">
          <h5 class="modal-title" id="edit_UpdatesTittle">Edit Updates </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST">
            {% csrf_token %}
            <div class="jss550 jss551 jss553">
              <p class="jss515 jss524">Title</p>
              <div class="jss550">
                <div class="jss567 jss554 jss558 jss568 jss555">
                  {{Event_Updates_Form.title}}
                  <!-- <input  class="jss577 jss562"  type="text" value="" required="required">                         -->
                </div>
                <span class="error" id="id_tittle_error">{{Event_Updates_Form.errors.title}}</span>
              </div>
            </div>
            <div class="jss550 jss551 jss553">
              <div class="jss550">
                <div class="jss567 jss554 jss568 jss555" id="id_about_update">
                  <textarea class="jss577 jss562 jqte-test w-100" id="id_about" name="about" value=""></textarea>
                </div>
                <span class="error" id="id_update_error"></span>
              </div>
            </div>
            <button name="form_type" value="Updates" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="Edit_Updates" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_Buzz" role="dialog" aria-labelledby="edit_BuzzTittle"
  aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header pl-4  pb-1">
          <h5 class="modal-title" id="edit_BuzzTittle">Edit Buzz </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0 pb-0">
          <form class="jss632" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="jss550 jss551 jss553">
              <p class="jss515 jss524">Title</p>
              <div class="jss550">
                <div class="jss567 jss554 jss558 jss568 jss555 class_tittle_one">
                  {{Event_Buzz_Form.title}}                        
                </div>
                <span class="error" id="id_tittle_one_error">{{Event_Buzz_Form.errors.title}}</span>
              </div>
            </div>
            <div class="jss550 jss551 jss553">
                <p class="jss515 jss524">Buzz </p>
              <div class="jss550">
                <div class="jss567 jss554 jss568 jss555" id="id_about_buzz">
                  <textarea class="jss577 jss562 jqte-test w-100" id="id_about" name="buzz" value=""></textarea>
                </div>
                <span class="error" id="id_buzz_error"></span>
              </div>
            </div>
            <div class="jss550 jss551 jss553">
                <p class="jss515 jss524">Article Link</p>
                <div class="jss550">
                    <div class="jss567 jss554 jss558 jss568 jss555">
                        {{Event_Buzz_Form.article_link}}
                    </div>
                </div>
                <span class="error" id="article_error">{{Event_Buzz_Form.errors.article_link}}</span>
            </div>
            <div class="jss550 jss551 jss553">
                <p class="jss515 jss524">Publisher</p>
                <div class="jss550">
                    <div class="jss567 jss554 jss558 jss568 jss555">
                        {{Event_Buzz_Form.publisher}}
                    </div>
                </div>
                <span class="error" id="publisher_error">{{Event_Buzz_Form.errors.publisher}}</span>
            </div>
            <div class="jss550 jss551 jss553">
                <p class="jss515 jss524">Upload Image</p>
                <div class="jss550">
                  <div class="jss567 jss554 jss558 jss568 jss555">
                      <span class="js">
                          <span class="box">
                              <input type="file" name="picture" onchange="Validateimgupload_two(this);" id="id_picture_two" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" required="required" >
                              <label id="lblfile-1" for="id_picture_two"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Upload Image</span></label>
                          </span>
                      </span>  
                  </div>
                  <span class="error id_picture_two_error" ></span>
                </div>
              </div>  
            <button name="form_type" value="Buzz" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="Edit_buzz" type="submit">
              <span class="jss902">Submit</span>
              <span class="jss934"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="edit_url_modal" role="dialog" aria-labelledby="edit_urlTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_goalTittle">Edit URL </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">URL</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555 edit_url_div">
                {{EventUrlText_Form.url_text}}
              </div>
            </div>
            <span class="error edit_url_error">{{EventUrlText_Form.errors.url_text}}</span>
          </div>
          <button name="form_type" value="url" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="edit_url_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> -->

<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.fr.js"></script>

<script>

{% if form_error == 'Title' %}
$('#edit_title').modal('show'); 
{% elif form_error == 'Picture' %}
$('#edit_image').modal('show'); 
{% elif form_error == 'About' %}
$('#edit_About_The_Campaign').modal('show'); 
{% elif form_error == 'Location' %}
$('#edit_location').modal('show'); 
{% elif form_error == 'Date' %}
$('#edit_date').modal('show');  
{% elif form_error == 'url' %}
$('#edit_url_modal').modal('show'); 
{% endif %}
</script>

<script type="text/javascript">
  $(document).ready( function () {
       $('.supporters_table').DataTable({
         "scrollY": 260,
       "ordering": false,
       "info":     false,
       "searching" : false,
       "lengthChange": false,
       "pageLength": 5
       });

       $('.comment_table').DataTable({
       "ordering": false,
       "info":     false,
       "searching" : false,
       "lengthChange": false,
       "pageLength": 5
       });
   } );
</script>
<link href="/static/css/jquery-te-1.4.0.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-te-1.4.0.min.js"></script>
<script type="text/javascript" src="/static/js/custom-file-input.js"></script>
<script>
 $(document).ready(function() {
     $('.jqte-test').jqte();
 });
</script>
<script type="text/javascript">
 $(function () {
     $('#datetimepicker1').datetimepicker({
           todayBtn: 1,
           autoclose: 1,
           todayHighlight: 1,
           startView: 2,
           forceParse: 0,
           Default: true
     });
 });
</script>
{% endblock %}