{% extends 'user_template/my_event_dashboard.html' %}

{% block extra_style %}
{% endblock %}


{% block body %}
<main class="main_min_heg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="mt-3 mb-3">Track Social Media Visits and Contributors​</h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
          <div class="card jss78">
            <div class="card-header" style="background-color: #fff;">
                <h5>Social Media Visits</h5>
            </div>
            <div class="card-body d-flex justify-content-between align-items-center   ">
              <div>
                  <p> <span class="mr-1" style="color: #3c5993"><i class="fa fa-square" aria-hidden="true"></i></span> Facebook </p>
                  <p> <span class="mr-1" style="color: #49a7f1"><i class="fa fa-square" aria-hidden="true"></i></span>  Twitter</p>
                  <p> <span class="mr-1" style="color: #3eba48"><i class="fa fa-square" aria-hidden="true"></i></span>  Whatsapp</p>
              </div>
              <div style="color: #EC156E">
                  <p>No Visits yet</p>              
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card jss78">
              <div class="card-header" style="background-color: #fff;">
                  <h5>Social Media Contributors​</h5>
              </div>
              <div class="card-body d-flex justify-content-between align-items-center   ">
                  <div>
                    <p> <span class="mr-1" style="color: #3c5993"><i class="fa fa-square" aria-hidden="true"></i></span> Facebook </p>
                    <p> <span class="mr-1" style="color: #49a7f1"><i class="fa fa-square" aria-hidden="true"></i></span>  Twitter</p>
                    <p> <span class="mr-1" style="color: #3eba48"><i class="fa fa-square" aria-hidden="true"></i></span>  Whatsapp</p>
                  </div>
                  <div style="color: #EC156E">
                      <p>No Contributors​ yet</p>              
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block extra_script %}
{% endblock %}