{% extends 'user_template/my_fundraiser_campaign_dashboard.html' %}

{% block extra_style %}
{% endblock %}


{% block body %}
<main class="main_min_heg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card mt-5">
          <div class="card_header">
            <div class="row">
              <div class="col-sm-12 col-md-7">
                <h5 style="color: #fff;">Withdraw Funds</h5>
                <p class="mb-0" style="color: #fff;">If you have any queries, please feel free to
                  contact@ourdemocracy.in</p>
              </div>
              <div class="col-sm-12 col-md-5">
                <div class="d-flex align-items-center h-100  justify-content-between">
                  <p class="mb-0 download_export"> </p>
                  <button type="button" class="withdrawal_btn" data-toggle="modal"
                    data-target="#edit_withdrawal">Request Withdrawal</button>
                </div>

              </div>
            </div>
          </div>

          <div class="mt-5">
            <div class="m-auto" style="width: 95%">
              <div class="table_parent">
                <table class="table withdraw_table_class  mt-3" id="withdraw_table">
                  <thead>
                    <th scope="col" class="border-0 font-weight-bold">Description</th>
                    <th scope="col" class="border-0 font-weight-bold">Amount (in INR) </th>
                  </thead>
                  <tbody>
                    <!-- <tr>
                      <td class="font-weight-bold">Description</td>
                      <td class="font-weight-bold">Amount (in INR) </td>
                    </tr> -->
                    <tr>
                      <td>Total Raised</td>
                      <td>{{ instance_CampaignFundRaiser.campaigntotalamount.total_amount }} </td>
                    </tr>
                    <tr>
                      <td>Total Refunded</td>
                      <td>{% if instance_refund.amount__sum %}{{ instance_refund.amount__sum }}{% else %} 0.0
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Pending Withdrawals</td>
                      <td>
                        {% if instance_WithdrawalRequest_amount.amount__sum %}
                        {{instance_WithdrawalRequest_amount.amount__sum}}
                        {% else %}
                        0.0
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Premium Service Charges</td>
                      <td>
                        <span data-toggle="modal" data-target="#services_availed"> <i
                            class="fa fa-eye cursor_pointer mr-1" aria-hidden="true"></i> 0 </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Our Democracy Fee <span data-toggle="tooltip" data-placement="top"
                          title="5.0% of Total Raised"> <i
                            class="fa fa-info-circle cursor_pointer mr-1" aria-hidden="true"></i> </span> </td>
                      <td>{{instance_our_democracy_commission_in_rs}}</td>
                    </tr>
                    <tr>
                      <td>Payment GateWay Fees <span data-toggle="tooltip" data-placement="top"
                          title="3.0% of Total Raised"> <i
                            class="fa fa-info-circle cursor_pointer mr-1" aria-hidden="true"></i> </span></td>
                      <td>{{instance_payment_gateway_charges_in_rs}}</td>
                    </tr>
                    <tr>
                      <td>GST <span data-toggle="tooltip" data-placement="top"
                          title="18.0% of ( Our  Democracy Fees + Premium Service Charges + Payment Gateway Fees )">
                          <i class="fa fa-info-circle cursor_pointer mr-1" aria-hidden="true"></i> </span> </td>
                      <td>{{gst_in_rs}}</td>
                    </tr>

                    <tr>
                      <td>Withdrawn</td>
                      <td>{{instance_CampaignFundRaiser.total_withdrawl_fund}}</td>
                    </tr>
                    <tr>
                      <td>Last Withdrawal</td>
                      <td>{{last_withdrawl}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><span style="cursor: pointer;" data-toggle="modal" data-target="#previous_withdraws"> <i
                            class="fa fa-eye cursor_pointer mr-1" aria-hidden="true"></i> Previous Withdrawals </span>
                      </td>
                    </tr>

                    <tr>
                      <td>Available to be withdrawn</td>
                      <td>
                        <div class="d-flex  justify-content-between w-100">
                          <p>{{instance_CampaignFundRaiser.available_withdrawl_fund}}</p>
                          <div>
                            <div class="d-flex align-items-center h-100  justify-content-end">
                              <p class="mb-0 mr-5 download_export"> </p>
                              <button type="button" class="withdrawal_btn p-3"
                                style="background-color: #EC156E;color: #fff" data-toggle="modal"
                                data-target="#edit_withdrawal">Request Withdrawal</button>
                            </div>
                          </div>
                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</main>
{% endblock %}

{% block model_popup %}

<div class="modal fade" id="previous_withdraws" role="dialog" aria-labelledby="previous_withdrawsTittle"
  aria-hidden="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="display_textTittle">Previous Withdrawals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body withdrawal-modal-body pt-0 pb-0">
        <div class="table_parent">
          <table class="table  mt-3">
            <thead>
              <th scope="col" class="border-0 font-weight-bold">Payment Date</th>
              <th scope="col" class="border-0 font-weight-bold">Amount </th>
              <th scope="col" class="border-0 font-weight-bold">Status </th>
            </thead>
            <tbody>
              {% for withdraws in instance_WithdrawalRequest %}
              <tr>
                <td>{% if withdraws.status == 'Approved' %} {{withdraws.payment_date}} {% else %} - {% endif %}</td>
                <td>{{withdraws.amount}}</td>
                <td>{{withdraws.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="services_availed" role="dialog" aria-labelledby="services_availedTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="display_textTittle">Services Availed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body withdrawal-modal-body pt-0 pb-0">
        <div class="table_parent">
          <table class="table  mt-3">
            <thead>
              <th scope="col" class="border-0 font-weight-bold">Payment Date</th>
              <th scope="col" class="border-0 font-weight-bold"> Amount (In INR) </th>
            </thead>
            <tbody>
              <!-- <tr>
                <td>Name</td>
                <td>2/-</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_withdrawal" role="dialog" aria-labelledby="edit_withdrawalTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_withdrawalTittle">Withdrawal Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body withdrawal-modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Amount</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                {{Withdrawal_Request_Form.amount}}
              </div>
              <span class="error">{{Withdrawal_Request_Form.errors.amount}}</span>
            </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Upload Document</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    {{Withdrawal_Request_Form.document}}
                    <label id="lblfile-1" for="id_doc"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                        viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Upload Document</span></label>
                  </span>
                </span>
              </div>
              <span class="error" id="doc_val">{{Withdrawal_Request_Form.errors.document}}</span>
            </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Campaign</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                {{Withdrawal_Request_Form.campaign}}
                <input type="text" class="jss577 jss562" readonly="readonly"
                  value="{{instance_CampaignFundRaiser.title}}">
              </div>
            </div>
            <span class="error">{{Withdrawal_Request_Form.errors.campaign}}</span>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Summary Data</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                {{Withdrawal_Request_Form.summary}}
              </div>
            </div>
            <span class="error">{{Withdrawal_Request_Form.errors.summary}}</span>
          </div>

          <div class="jss550 jss551 jss553">

          </div>


          <button class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" tabindex="0" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% if form_error %}
<script>
  $("#edit_withdrawal").modal('show');
</script>
{% endif %}


<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" ></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" ></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
     dt = $('#withdraw_table').DataTable({
      "paging":   false,
      "ordering": false,
      "info":     false,
      "bFilter": false,
    });
      new $.fn.DataTable.Buttons( dt, {
        buttons: [
            {
                text: 'Download Statement',
                extend: 'excel',
                extension: '.xls'
            }
        ]
    } );

    // Add the Export buttons to the toolbox
    dt.buttons( 0, null ).container().appendTo( '.download_export' );   
  });
</script>
{% endblock %}