{% extends 'user_template/my_fundraiser_campaign_dashboard.html' %}

{% block extra_style %}
{% endblock %}


{% block body %}
<main class="main_min_heg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h4 class="mb-0">Upload Documents </h4>
            </div>
        </div>
       <div class="row mt-5">
         <div class="col-sm-12">
            <div class="card ">
                <div class="row ">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="d-flex w-100 align-items-center justify-content-center" style="height: 76px;">
                        <p class="mb-0 mt-3 text-center" ><b>Cancelled Cheque</b></p>
                    </div>
                    <div class="CDImageDiv  p-3 mb-2">
                      <div class="position-relative w-100">
                
                        <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_image" aria-hidden="true"
                          style="right: 0;"></i>
                          {% if instance_CampaignFundRaiser.cancelled_cheque_image %}
                            {% if instance_CampaignFundRaiser.cancelled_cheque_image_extension == '.pdf' %}
                            <div class="CDImgInitMain CDImgInitMain_img" style="overflow-x:scroll ;overflow-y:hidden;">
                              <iframe src="/media/{{instance_CampaignFundRaiser.cancelled_cheque_image}}" style="width: 500px;    max-height: 65vh;
                              min-height: 370px;"  frameborder="0"></iframe>
                          </div>
                            {% else %}
                              <img src="/media/{{instance_CampaignFundRaiser.cancelled_cheque_image}}" class="CDImgInitMain CDImgInitMain_img" alt="">
                            {% endif %}
                          {% else %}
                          <img src="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg" class="CDImgInitMain CDImgInitMain_img" alt="">
                          {% endif %}
                      </div>
                
                    </div>
                  </div>
                
                  <div class="col-sm-12 col-md-12 col-lg-6">
                   
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6">
                              <p class="mb-0 mt-3 "><b>Address Proof</b></p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <div class="jss833 jss834 jss836">
                                <p class="jss798 jss807">Document Type</p>
                                <div class="jss833">
                                    <div class="jss850 jss837 jss841 jss851 jss838">
                                      <input type="text" aria-invalid="false" value="{{instance_CampaignFundRaiser.address_proof_type}}" readonly class="jss860 jss845" maxlength="100" required  />
                                    </div>
                                    <span class="error"></span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="CDImageDiv  p-3 mb-2">
                      <div class="position-relative w-100">
                
                        <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_address_proof" aria-hidden="true"
                          style="right: 0;"></i>
                
                          {% if instance_CampaignFundRaiser.address_proof_image %}
                              {% if instance_CampaignFundRaiser.address_proof_image_extension == '.pdf' %}
                                <div class="CDImgInitMain CDImgInitMain_img" style="overflow-x:scroll ;overflow-y:hidden;">
                                  <iframe src="/media/{{instance_CampaignFundRaiser.address_proof_image}}" style="width: 500px;    max-height: 65vh;
                                  min-height: 370px;"  frameborder="0"></iframe>
                              </div>
                            {% else %}
                              <img src="/media/{{instance_CampaignFundRaiser.address_proof_image}}" class="CDImgInitMain CDImgInitMain_img" alt="">
                            {% endif %}
                            {% else %}
                            <img src="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg" class="CDImgInitMain CDImgInitMain_img"
                            alt="">
                            {% endif %}
                      </div>
                
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                      <div class="row align-items-center">
                          <div class="col-sm-12 col-md-6">
                            <p class="mb-0 mt-3 "><b>Pan Card</b></p>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <div class="jss833 jss834 jss836">
                              <p class="jss798 jss807">Pan Number</p>
                              <div class="jss833">
                                  <div class="jss850 jss837 jss841 jss851 jss838">
                                    <input type="text" aria-invalid="false" value="{{instance_CampaignFundRaiser.pancard_no}}" readonly class="jss860 jss845" maxlength="100" required  />
                                  </div>
                                  <span class="error"></span>
                              </div>
                          </div>
                          </div>
                      </div>
                      <div class="CDImageDiv p-3 mb-2">
                        <div class="position-relative w-100">
                  
                          <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_Pan_Num" aria-hidden="true"
                            style="right: 0;"></i>
                  
                            {% if instance_CampaignFundRaiser.pancard_image %}
                              {% if instance_CampaignFundRaiser.pancard_image_extension == '.pdf' %}
                                <div class="CDImgInitMain CDImgInitMain_img" style="overflow-x:scroll ;overflow-y:hidden;">
                                  <iframe src="/media/{{instance_CampaignFundRaiser.pancard_image}}" style="width: 400px;    max-height: 65vh;
                                                                min-height: 370px;" frameborder="0"></iframe>
                                </div>
                              {% else %}
                                <img src="/media/{{instance_CampaignFundRaiser.pancard_image}}" class="CDImgInitMain CDImgInitMain_img" alt="">
                              {% endif %}
                            {% else %}
                              <img src="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
                                class="CDImgInitMain CDImgInitMain_img" alt="">
                            {% endif %}
                        </div>                      
                        
                      </div>
                    </div>
              </div>
          
            
            </div>
         </div>
       </div>

    
               
        </div>
  </main>
{% endblock %}

{% block model_popup %}
<div class="modal fade" id="edit_image" role="dialog" aria-labelledby="edit_imageTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_imageTittle">Edit Cancelled Cheque </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Upload Cancelled Cheque</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    <input type="file" name="cancelled_cheque_image" required onchange="Validateimgpdfdocupload(this);" id="id_Cancelled_Cheque" class="inputfile inputfile-1">
                    <label id="lblfile-1" for="id_Cancelled_Cheque"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="17" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Upload Cancelled Cheque</span></label>
                  </span>
                </span>
              </div>
              <span class="error" id="id_Cancelled_Cheque_error"></span>
            </div>
          </div>
          <button name="form_type" value="cheque" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="upload_documents" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_address_proof" role="dialog" aria-labelledby="edit_address_proofTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_address_proofTittle">Edit Address Proof </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  pt-0 pb-0">
        <form class="jss632" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="jss550 jss551 jss553 select2_con_main">
              <p class="jss515 jss524">Document Type</p>
              <div class="jss550">
                  <div class="jss567 jss554 jss558 jss568 jss555 select2_con">
                        {{address_proof_form.address_proof_type}}
                  </div>
                </div>
                <span class="error" id="id_address_proof_type_error"></span>
              </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Address Proof</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    <input type="file" name="address_proof_image" required onchange="Validateaddress_proofpdfdocupload(this);" id="id_address_proof_picture"
                      class="inputfile inputfile-1">
                    <label id="lblfile-1" for="id_address_proof_picture"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="17" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Upload Address Proof</span></label>
                  </span>
                </span>
              </div>
              <span class="error" id="id_address_proof_picture_error"></span>
            </div>
          </div>
          <button name="form_type" value="address" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="id_address_proof" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="edit_Pan_Num" role="dialog" aria-labelledby="edit_Pan_NumTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_Pan_NumTittle">Pan Details </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="jss833 jss834 jss836">
              <p class="jss798 jss807">Pan Card</p>
              <div class="jss833">
                  <div class="jss850 jss837 jss841 jss851 jss838">
                     {{pancard_proof_form.pancard_no}}
                  </div>
                  <span class="error" id="id_pancard_no_error"> </span>
              </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Pan Card Document</p>
            
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    <input type="file" onchange="Validatepan_numpdfdocupload(this);" name="pancard_image" id="pancard_image"
                      class="inputfile inputfile-1">
                    <label id="lblfile-1" for="pancard_image"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="17" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Upload Address Proof</span></label>
                  </span>
                </span>
              </div>
              <span class="error" id="id_pan_num_picture_error"></span>
            </div>
          </div>
          <button name="form_type" value="pancard" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="id_pan_card_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}

<script type="text/javascript">
   $(document).ready(function() {
        $('.select2_modal').select2({
            dropdownParent: $('.select2_con_main'),
              minimumResultsForSearch: -1
        });
      });
</script>
{% endblock %}