{% extends 'user_template/my_fundraiser_campaign_dashboard.html' %}
{% load template_filter %}

{% block extra_style %}
{% endblock %}


{% block body %}
<main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <form class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                <div class="jss550 jss551 jss553 ">
                  <div class="jss550">
                    <div class="">
                      <p class="jss798 jss807 ">Campaign Type</p>
                      <div class="jss550 w-100">
                        <div class="jss567 jss554 jss558 jss568 jss555 select2_con">
                          <select class="select2" onchange="this.form.submit()">
                            <option value="Journalism">Journalism</option>
                            <option value="Political">Political</option>
                            <option value="Social Cause">Social Cause</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            <form class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <div class="jss550 jss551 jss553 ">
                  <div class="jss550">
                    <div class="">
                      <p class="jss798 jss807 ">Sub-Category</p>
                      <div class="jss550 w-100">
                        <div class="jss567 jss554 jss558 jss568 jss555 select2_con">
                          <select class="select2" onchange="this.form.submit()">
                            <option value="Election Campaign">Election Campaign</option>
                            <option value="Protest">Protest</option>
                            <option value="Political Movement">Political Movement</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </form>
        </div>
    </div> 
      <div class="row">
        <div class="col-sm-12">
            <div class="jss528_c pb-0">
              <p class="CDCampTitle position-relative">
                <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_title" aria-hidden="true"></i>
                {{ instance_CampaignFundRaiser.title }}
              </p>
              <div class="CDBelowTitleDiv">
                <div class="CDImageDiv">
                  <div class="position-relative">
                    <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_image" aria-hidden="true"></i>
                    <img src="/media/{{ instance_CampaignFundRaiser.picture }}" class="CDImgInitMain" alt="">
                  </div>                  
                </div>
                <div class="CDValuesDiv">
                  <div>
                       <form class="mb-0">
                          <div>
                              <label class="jss867 mb-0">
                                <span class="jss873">
                                  <span class="jss892 jss886 jss882 jss876 jss883 jss878 jss877">
                                    <span class="jss891">
                                      <span class="jss874 jss875"></span>
                                      <input class="jss885" id="fundraiser_end_goal_id" type="checkbox"  >
                                    </span>
                                    <span class="jss934"></span>
                                  </span>
                                  <span class="jss881"></span>
                                </span>
                                <span id="fundraiser_end_goal_id_text" class="jss798 jss807 jss872">Has an end goal</span></label>
                          </div>
                      </form>
                  </div>
                  <div class="goaldiv_contanier w-100" id="fundraiser_end_goal_div">
                    <div class="goalDiv">
                      <div class="CDCampGoal position-relative mt-0">
                        <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_goal" aria-hidden="true"></i>
          
                        <svg aria-hidden="true" data-prefix="fas" data-icon="rupee-sign"
                          class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 320 512" style="font-size: 1.4rem; color: rgb(51, 51, 51);">
                          <path fill="currentColor"
                            d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                          </path>
                        </svg> {{ instance_CampaignFundRaiser.campaigntotalamount.total_amount }}<br>
                        <div style="font-size: 1.2rem; font-weight: normal;">raised of<b>
                            <svg aria-hidden="true" data-prefix="fas" data-icon="rupee-sign"
                              class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 320 512" style="font-size: 1.2rem; color: rgb(51, 51, 51);">
                              <path fill="currentColor"
                                d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                              </path>
                            </svg> {{ instance_CampaignFundRaiser.goal }} </b> goal</div>
                      </div>
                    </div>
                    <div class="CDCompletionDiv">
                      <div class="completionLineDiv">
                        <div class="filled" style="width: {{ instance_CampaignFundRaiser.totalfund_in_percentage}}%;"></div>
                      </div>
                      <p class="CDCompletionText">{{ instance_CampaignFundRaiser.totalfund_in_percentage}} %</p>
                    </div>
                  </div>
                  <div class="dateDiv" style="margin-top: 5px;">
                    <div class="CDCampEdate">
                      <div class="jss13"><b
                          style="font-size: 2rem;">{{ instance_CampaignFundRaiser.campaigntotalamount.total_supporters }}</b>Supporters
                      </div>
                      <div class="jss13 position-relative" style="margin-left: 20px;"><b
                          style="font-size: 2rem;">{{ instance_CampaignFundRaiser.available_days}}</b> Days Left
                        <i class="fa fa-pencil edit_icon" data-toggle="modal" data-target="#edit_day" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="CDPeopleContainerSP">
                    <div class="CDPeopleImage"
                      style="align-items: center; width: fit-content; margin: 0px 16px 0px 0px; padding: 0px;"><img
                        src="/media/{{instance_CampaignFundRaiser.user.profile}}" class="imgPeople2" alt="">
                    </div>
                    <div class="CDPeopleDetail">
                      <p class="CDPeopleTitle" style="margin: 0px;">Campaigner</p>
                      <p class="CDPeopleName">{{ instance_CampaignFundRaiser.user.name }}</p>
                      {% if instance_CampaignFundRaiser.user.is_indian %}
                      <p class="CDPeopleLocation"><svg aria-hidden="true" data-prefix="fas" data-icon="map-marker"
                          class="svg-inline--fa fa-map-marker fa-w-12 " role="img" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512" style="background: rgb(255, 255, 255);">
                          <path fill="currentColor"
                            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z">
                          </path>
                        </svg> India</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="belowImage mb-3">
                <div class="descriptionsDiv p-4" style="background: #fff">
                  <p class="position-relative" style="margin: 1em 0px 0px; width: 95%; color: rgb(51, 51, 51);">{{ instance_CampaignFundRaiser.short_description }}
                      <i class="fa fa-pencil edit_icon"  data-toggle="modal" data-target="#edit_short_description" aria-hidden="true"></i>
                  </p>
                  <hr style="border-top: 1px solid #e0d6d6;margin: 10px 0;">
                  <div class="CDAboutCampDiv" style="box-shadow: none;">
                          <p class="CDAboutTitle position-relative">
                            <i class="fa fa-pencil edit_icon right-0" data-toggle="modal" data-target="#edit_About_The_Campaign"
                              aria-hidden="true"></i>
                            About The Campaign
                          </p>
                          <p class="CDAboutText">
                            {% autoescape off %}
                            {{ instance_CampaignFundRaiser.about|linebreaks }}
                            {% endautoescape %}
                          </p>
                        </div>
                </div>
                <div class="CDPeopleDiv">
                  <div class="CDPeopleMain">
                    <div class="CDPeopleContainer"
                      style="margin-top: 0px; margin-bottom: 0px; padding: 10px 0px; border-radius: 0px; border-top: 0px;">
                      <!-- <div class="CDPeopleImage" style="margin-left: 0px; margin-right: 20px; width: auto;"><img src="/media/{{instance_CampaignFundRaiser.user.profile}}" class="imgPeople" alt="" style="width: 50px; height: 50px;"></div> -->
                      <div class="CDPeopleDetail">
                        <p class="CDPeopleTitle" style="margin: 0px;">Beneficiary</p>
                        <div class="beneNameDiv">
                          <div class="headtextben">
                            <p class="CDCampBeneName">{{ instance_CampaignFundRaiser.user.beneficiary.name }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="CDPeopleDonors">
                    <p class="CDCommentHeading"><svg aria-hidden="true" data-prefix="fas" data-icon="medal"
                        class="svg-inline--fa fa-medal fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="currentColor"
                          d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm92.52 157.26l-37.93 36.96 8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64 23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39 4.11 0 8.22 2.14 10.33 6.39l23.43 47.52 52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z">
                        </path>
                      </svg> Top Donors</p>
                    <div class="CDCommentHeadingLine"></div>
                    {% for topdoner in instance_top_five_campaigndoners %}
                    <div class="CDPeopleContainer">
                      <div class="CDPeopleImage">
                        <div class=" sb-avatar sb-avatar--text"
                          style="display: inline-block; vertical-align: middle; width: 36px; height: 36px; border-radius: 100%; font-family: Helvetica, Arial, sans-serif; font-weight: bold;">
                          <div class=" sb-avatar__text"
                            style="width: 36px; height: 36px; line-height: initial; text-align: center; text-transform: uppercase; color: #EC156E; background: rgb(238, 238, 238); border-radius: 100%;">
                            <div style="display: table; table-layout: fixed; width: 100%; height: 100%; font-size: 0px;"><span
                                style="display: table-cell; vertical-align: middle; white-space: nowrap;"><span>{{ topdoner.name|get_short_name:topdoner.is_hide_me }}</span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="CDPeopleTitle CDPeople1" style="width: 100%;">{% if topdoner.is_hide_me %} Anonymous {% else %}
                        {{ topdoner.name }} {% endif %}</p>
                      <p class="CDPeopleTitle CDPeople2 "
                        style="color: #EC156E; text-align: right; margin-right: 20px; min-width:90px;"><b><svg
                            aria-hidden="true" data-prefix="fas" data-icon="rupee-sign"
                            class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512">
                            <path fill="currentColor"
                              d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                            </path>
                          </svg> {{ topdoner.total }}</b></p>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="CDPeopleSupporters">
                    <p class="CDCommentHeading"><svg aria-hidden="true" data-prefix="fas" data-icon="users"
                        class="svg-inline--fa fa-users fa-w-20 " role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512">
                        <path fill="currentColor"
                          d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z">
                        </path>
                      </svg> Supporters</p>
                    <div class="CDCommentHeadingLine"></div>
                    <div id="supporters_table_conn">
                      {% if instance_CampaignDoners|length != 0 %}
                      <table class="table text-left supporters_table display responsive nowrap">
                        <thead style="height: 0px;">
                          <tr>
                            <td style="width: 140px;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </thead>
                        <tbody>
                          {% for doner in instance_CampaignDoners %}
                          <tr class="CDPeopleContainer">
                            <td style="width: 140px;">
                              <div class="CDPeopleImage">
                                <div class=" sb-avatar sb-avatar--text">
                                  <div class=" sb-avatar__text">
                                    <div class=" sb-avatar__text_con ">
                                      <span class=" sb-avatar__text_con_span "><span>{{doner.short_name}}</span></span></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="CDPeopleTitle CDPeople1 w-100">
                                {% if doner.is_hide_me %} Anonymous {% else %} {{ doner.name }} {% endif %}
                              </p>
                            </td>
                            <td>
                              <p class="CDPeopleTitle CDPeople2 width_200"><b>
                                  <svg aria-hidden="true" data-prefix="fas" data-icon="rupee-sign"
                                    class="svg-inline--fa fa-rupee-sign fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 320 512">
                                    <path fill="currentColor"
                                      d="M308 96c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v44.748c0 6.627 5.373 12 12 12h85.28c27.308 0 48.261 9.958 60.97 27.252H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h158.757c-6.217 36.086-32.961 58.632-74.757 58.632H12c-6.627 0-12 5.373-12 12v53.012c0 3.349 1.4 6.546 3.861 8.818l165.052 152.356a12.001 12.001 0 0 0 8.139 3.182h82.562c10.924 0 16.166-13.408 8.139-20.818L116.871 319.906c76.499-2.34 131.144-53.395 138.318-127.906H308c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-58.69c-3.486-11.541-8.28-22.246-14.252-32H308z">
                                    </path>
                                  </svg> {{doner.amount}}</b>
                              </p>
                            </td>
                            <td style="width: 20px;"></td>
                          </tr>
                          {% endfor %}
        
                        </tbody>
                      </table>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
                   
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block model_popup %}
<div class="modal fade" id="edit_title" role="dialog" aria-labelledby="edit_titleTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_titleTittle">Edit Tittle </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss833 jss834 jss836">
            <p class="jss798 jss807">Edit Your Tittle</p>
            <div class="jss833">
              <div class="jss850 jss837 jss841 jss851 jss838 edit_title_class">
                <!-- <input aria-invalid="false" class="jss860 jss845" type="text" value=""> -->
                {{CampaignFundRaiserTitleForm.title}}
              </div>
              <span class="error edit_title_error">{{CampaignFundRaiserTitleForm.errors.title}}</span>
            </div>
          </div>
          <button name="form_type" value="Title" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="edit_title_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_image" role="dialog" aria-labelledby="edit_imageTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_imageTittle">Edit Image </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Upload Image</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    <input type="file" name="picture" onchange="Validateimgupload(this);" id="id_picture"
                      class="inputfile inputfile-1">
                    <label id="lblfile-1" for="id_picture"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="17" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Upload Image</span></label>
                  </span>
                </span>
              </div>
              <span class="error" id="id_picture_error"></span>
            </div>
          </div>
          <button name="form_type" value="Picture" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="id_picture_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="edit_goal" role="dialog" aria-labelledby="edit_goalTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_goalTittle">Edit Goal </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Goal</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555 edit_goal">
                {{CampaignFundRaiserGoalForm.goal}}
                <!-- <input class="jss577 jss562 integer_value" type="text" value="" required="required"> -->
              </div>
            </div>
            <span class="error edit_goal_error">{{CampaignFundRaiserGoalForm.errors.goal}}</span>
          </div>
          <button name="form_type" value="Goal" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="edit_goal_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_About_The_Campaign" role="dialog" aria-labelledby="edit_About_The_CampaignTittle"
  aria-hidden="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pl-4  pb-1">
        <h5 class="modal-title" id="edit_About_The_CampaignTittle">Edit About the Campaign </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <div class="jss550">
              <div class="jss567 jss554 jss568 jss555" id="id_about_cam">
                <textarea class="jss577 jss562 jqte-test w-100" id="id_about" name="about"
                  value="{{CampaignFundRaiserAboutForm.about.value}}">{{CampaignFundRaiserAboutForm.about.value}}</textarea>

              </div>
            </div>
            <span class="error" id="id_about_error"></span>
          </div>
          <button name="form_type" value="About" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            type="submit" id="abt_capm_group">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_Updates" role="dialog" aria-labelledby="edit_UpdatesTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pl-4  pb-1">
        <h5 class="modal-title" id="edit_UpdatesTittle">Edit Updates </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Title</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555 class_tittle mb-1">
                {{CampaignUpdates_Form.title}}
                <!-- <input  class="jss577 jss562"  type="text" value="" required="required">                         -->
              </div>
              <span class="error" id="id_tittle_error">{{CampaignUpdates_Form.errors.title}}</span>
            </div>
          </div>
          <div class="jss550 jss553 mt-0 mb-0">
            <div class="jss550">
              <div class="jss567 jss554 jss568 jss555" id="id_about_update">
                <textarea class="jss577 jss562 jqte-test w-100" id="id_about" name="about" value=""></textarea>
              </div>
              <span class="error" id="id_update_error"></span>
            </div>
          </div>
          <button name="form_type" value="Updates" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="Edit_Updates" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_day" role="dialog" aria-labelledby="edit_day" aria-hidden="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_goalTittle">Edit Days </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
          <p class="jss515 jss524">Day</p>
          <div class="jss550">
            <div class="jss567 jss554 jss558 jss568 jss555">
                  <!-- <input type="text" name="day" class="jss577 jss562 integer_value" required="" id="id_day"> -->
                {{CampaignFundRaiserDay.day}}
            </div>
          <span class="error">{{CampaignFundRaiserDay.errors.day}}</span>
          </div>
        </div>
          <button name="form_type" value="Day" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="edit_day_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_short_description" role="dialog" aria-labelledby="edit_short_description" aria-hidden="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 pl-4  pb-1">
        <h5 class="modal-title" id="edit_goalTittle">Edit Description </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
              <p class="jss515 jss524">Short Description</p>
              <div class="jss550">
                <div class="jss567 jss554 jss558 jss568 jss555">
                    <!-- <input type="text" name="short_description" class="jss577 jss562" maxlength="250" required="" id="id_short_description"> -->
                    {{CampaignFundRaiserShortDescription.short_description}}
                </div>
              <span class="error">{{CampaignFundRaiserShortDescription.errors.short_description}}</span>
              </div>
          </div>
          <button name="form_type" value="short_description" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633" id="edit_short_description_btn" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_Buzz" role="dialog" aria-labelledby="edit_BuzzTittle" aria-hidden="false"
  data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pl-4  pb-1">
        <h5 class="modal-title" id="edit_BuzzTittle">Edit Buzz </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 pb-0">
        <form class="jss632" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Title</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555 class_tittle_one">
                {{CampaignBuzz_Form.title}}
              </div>
              <span class="error" id="id_tittle_one_error">{{CampaignBuzz_Form.errors.title}}</span>
            </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Buzz </p>
            <div class="jss550">
              <div class="jss567 jss554 jss568 jss555" id="id_about_buzz">
                <textarea class="jss577 jss562 jqte-test w-100" id="id_about" name="buzz" value=""></textarea>
              </div>
              <span class="error" id="id_buzz_error"></span>
            </div>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Article Link</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                {{CampaignBuzz_Form.article_link}}
              </div>
            </div>
            <span class="error" id="article_error">{{CampaignBuzz_Form.errors.article_link}}</span>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Publisher</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                {{CampaignBuzz_Form.publisher}}
              </div>
            </div>
            <span class="error" id="publisher_error">{{CampaignBuzz_Form.errors.publisher}}</span>
          </div>
          <div class="jss550 jss551 jss553">
            <p class="jss515 jss524">Upload Image</p>
            <div class="jss550">
              <div class="jss567 jss554 jss558 jss568 jss555">
                <span class="js">
                  <span class="box">
                    <input type="file" name="picture" onchange="Validateimgupload_two(this);" id="id_picture_two"
                      class="inputfile inputfile-1" data-multiple-caption="{count} files selected" required="required">
                    <label id="lblfile-1" for="id_picture_two"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                        height="17" viewBox="0 0 20 17">
                        <path
                          d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                      </svg> <span>Upload Image</span></label>
                  </span>
                </span>
              </div>
              <span class="error id_picture_two_error"></span>
            </div>
          </div>
          <button name="form_type" value="Buzz" class="jss892 jss901 jss912 jss913 jss915 jss916 jss926 jss633"
            id="Edit_buzz" type="submit">
            <span class="jss902">Submit</span>
            <span class="jss934"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.supporters_table').DataTable({
       "scrollY": 260,
      "ordering": false,
      "info": false,
      "searching": false,
      "lengthChange": false,
      "pageLength": 5
    });

    $('.comment_table').DataTable({
      "ordering": false,
      "info": false,
      "searching": false,
      "lengthChange": false,
      "pageLength": 5
    });
  });
</script>
<link href="/static/css/jquery-te-1.4.0.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery-te-1.4.0.min.js"></script>
<script type="text/javascript" src="/static/js/custom-file-input.js"></script>
<script>
  $(document).ready(function () {
    $('.jqte-test').jqte();
  });
</script>

{% endblock %}
